# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# IDE & Editor settings
.vscode/
.idea/
*.swp
*.swo

# OS Specific
.DS_Store
Thumbs.db

# Jupyter Checkpoints
.ipynb_checkpoints
